:root {
        --primary: #883AE1;
        --secondary: #F7F7F7;
        --tertiary: #F2F2F2;
        --quaternary: #E6D6FC;
        --quinary: #20293A;
        --senary: #6C727F;
        --septenary: #FAFAF9;
        --octonary: #FFFFFF;
        --nonary: #E5EAF0;
        --denary: #E5E5E5;
}


body {
        background-color: var(--septenary);
        font-family: 'Sora';
}

.container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.card {
        background-color: var(--octonary);
        /* Box-shadow */
        box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
        border-radius: 16px;
        /* margin-top: 164px; */


        padding: 16px 16px 20px 16px;
        width: 350px;
}

.card img {
        width: 349px;
        height: 152px;
        border-radius: 10px;
}

.design {
        background-color: var(--quaternary);
        border-radius: 100px;
        color: var(--primary);
        font-size: 10px;
        font-weight: bold;
        padding: 6px 1rem;
        height: 12px;
        width: fit-content;
}

.card h2 {
        font-size: 1.125rem;
        color: var(--quinary);
}

.body-card{
        font-size: 0.875rem;
        color: var(--senary);
        margin-bottom: 20px;
}

hr {
        border: 1px solid var(--nonary);
        margin-top: 20px;
        margin-bottom: 20px;
}

.card footer {
        font-size: 0.625rem;
        color: var(--senary);
}